.eco-item {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    line-height: 1;
    min-width: 325px !important;
}

.btn-round {
    border-radius: 100px !important;  
    background: #4AD295 !important;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.25); 
    border: none !important;
}

button a {
    color: #ffffff !important;
    text-decoration: none;
}

button a:hover {
    text-decoration: none;
}

.btn-round:first-child {
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.btn-round-r {
    border-radius: 0 100px 100px 0 !important; 
    background: #4AD295 !important;  
    border: none !important;
}

.view {
    margin-bottom: 3px;
}

.doc {
    margin-top: -6px;
}
.box-photo {
    overflow: hidden;
    height: 135px;
}

.photo {
    width: 100%;
}

nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}

.btn-ozn {
    background-color: #ffffff !important;
    box-shadow: none !important;
    border: 2px solid #4AD295 !important;  
    color: #4AD295 !important; 

}

.btn-pod {
    box-shadow: none !important;
}

footer {
    height: 75px;
    background: #7F7F7F;
    font-size: 22px;
}

footer p {
    padding: 20px 0px 0px 0px;
    color: #ffffff;
}

#form  {
    display: flex;
    flex-direction: column;
}
#form sup {
    font-size: 16px;

letter-spacing: 0.05em;

color: #FF0000;
}

#form input{
    border: 1px solid rgba(51, 51, 51, 0.5);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
border-radius: 100px;
padding: 10px;
margin-bottom: 30px;
}
#form .check {
    margin-top: 10px;
}
 #buttom_sign{
    background: #4AD295;
border-radius: 100px;
font-size: 18px;
text-align: center;
color: #FFFFFF;
padding: 10px 5%;
}