nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}

.logo-text {
    display: inline-block;
    padding-top: 20px;
}

.logo-img {
    margin-top: -10px;
}

.cont-photo {
    font-family: 'Roboto', sans-serif !important;
    font-size: 22px;
    text-align: center;
}

button {
    border-radius: 100px !important;
}

.btn-orange {
    background-color: #FF5B22 !important;
    border: #FF5B22;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .item-green {
    background: #4ad295;
} */

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.btn-warning {
    background-color: #ffd371 !important;
    border: 1px solid #ffd371 !important;
    height: 60px !important;
    width: 390px;
    font-size: 24px !important;
    color: #333333 !important;
}