* {
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
}
body{
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns:10% 80% 10%;
}
#form {
    grid-column: 2/3;
    padding: 50px;
    background-color: #FFFDFD;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 40px;
}
#form form {
    display: flex;
    flex-direction: column;
}
#form form h2 {
    font-size: 28px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}
#form form p {
    font-size: 16px;
letter-spacing: 0.05em;
color: #6F6F6F;
margin-bottom: 40px;
}
#form form label {
    font-size: 18px;
line-height: 21px;
letter-spacing: 0.05em;

color: #333333;
}
#form form textarea {
    margin: 20px 0;
}
#form form input, select{
    border: 1px solid rgba(51, 51, 51, 0.5);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
border-radius: 100px;
padding: 10px;
margin: 10px 0;
margin-bottom: 30px;
}
#form form .photo {
    display: flex;
}
#form form .photo input{
    border: 0;
    box-shadow:none;
}
#form form .photo label {
    margin-top: 20px;
    
}
#form form input[type="submit"]{
    background: #333333;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
border-radius: 100px;
color: white;
width: 30%;
margin-left: 70%;
}
#form form input[type="submit"]:hover{
cursor: pointer;
}
#form form .check {
    display: flex;
    margin-top: 10px;
}
#form form .check input{
    border: 0;
    box-shadow:none;
}
#form form .check label {
    margin-top: 6px;
    margin-left: 1%;
}
#form form #checking {
    background: rgba(0, 26, 255, 0.7);
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
border-radius: 100px;
}
#form  .right {
    margin-bottom: -20px;
    float: right;
    margin-right: 2%;
    font-size: 14px;
line-height: 16px;
text-decoration-line: underline;

color: rgba(0, 26, 255, 0.7);
cursor: pointer;
}
#form form #add_brand{
    margin-left: 86%;
}
#form form #add_man{
    margin-left: 80%;
}
#form form #add_mat{
    margin-left: 84%;
}
#form form sup {
    font-size: 16px;

letter-spacing: 0.05em;

color: #FF0000;
}

nav {
    position: absolute !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;    
    font-size: 18px;
    top: 0;
    width: 100%;
}

.sslka {
    margin-bottom: 30px !important;
}

.save {
    background: #4AD295 !important;
    border: #4AD295 !important;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 100px !important;
}

input:focus {
    outline: none;
}

#checking {
    border: none !important;
}


footer {
    position: relative !important;
    bottom: 0;
    height: 75px;
    background: #7F7F7F;
    font-size: 22px;
}

footer p {
    width: 1263px !important;
    padding: 20px 0px 0px 0px;
    color: #ffffff !important;
}