nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}


footer {
    position: absolute !important;
    bottom: 0;
    width: 1280px;
    height: 75px;
    background: #7F7F7F;
    font-size: 22px;
}

footer p {
    padding: 20px 0px 0px 0px;
    color: #ffffff;
}

.btn-round {
    width: 35% !important;
    border-radius: 100px !important; 
    background: #4AD295 !important;  
    border: none !important;
    margin-left: 35%;
}

.btn-pod {
    box-shadow: none !important;
    font-size: 24px !important;
}

.eco-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
    margin: 60px;
    font-size: 24px;
}